.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.control {
  margin: 0 4px;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;

  &:hover {
    cursor: pointer;
  }

  &.active {
    font-weight: 600;
    border-bottom: 2px solid var(--border);
  }
}