.container {
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-wrap: wrap;
  min-width: 600px;
}


.week-day {
  width: 80px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px;
  background-color: var(--list-bg);
  border-top: 1px solid var(--card-border);
  border-left: 1px solid var(--card-border);
  border-right: 1px solid var(--card-border);
  transition: background-color 200ms ease;

  &:first-of-type,
  &:last-of-type {
    border-left: 0;
    border-right: 0;
  }

  img {
    width: 48px;
    height: 48px;
    margin: 12px 0;
  }

  .day,
  .max-temp {
    font-weight: 600;
  }

  .secondary {
    margin-top: 2px;
    color: var(--secondary-text);
  }

  &.active {
    border-top: 2px solid var(--border);
    background-color: var(--highlight-bg);
  }

  &:hover {
    cursor: pointer;
    background-color: var(--highlight-bg);
  }
}

